{% extends "base.html" %}
{% block title %}Ro‘yxatdan o‘tish{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h4>Ro‘yxatdan o‘tish</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Ro‘yxatdan o‘tish</button>
          <a href="{% url 'custom_auth:login' %}" class="btn btn-link">Kirish</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
