{% extends "base.html" %}
{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<h2 class="mb-4">So‘nggi postlar</h2>
<div id="postContainer" class="row">
    {% include 'blogapp/post/post_list_partial.html' %}
</div>

{% if page_obj.has_next %}
<div class="text-center mt-4">
    <a href="?page={{ page_obj.next_page_number }}"
       id="loadMoreBtn"
       data-url="?page={{ page_obj.next_page_number }}"
       class="btn btn-outline-primary">Yana...</a>
</div>
{% endif %}
{% endblock %}